AUTH_SESSION_SECRET=change-this-in-production
ADMIN_PASSWORD_SECRET=hams-oauth-secret

DEMO_AUTH_IDENTIFIER=demo@hams.dev
DEMO_AUTH_PASSWORD=password1234!

# hamgatalk@gmail.com 계정
# hams-oauth 프로젝트
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=

# hyh8414 계정
# hams-oauth 프로젝트
OAUTH_NAVER_CLIENT_ID=
OAUTH_NAVER_CLIENT_SECRET=

# hyh8414@naver.com 계정
# hams-oauth 프로젝트에 hams-oauth-TEST 테스트 프로젝트
OAUTH_KAKAO_CLIENT_ID=
OAUTH_KAKAO_CLIENT_SECRET=

# Firebase Admin SDK 설정
# hamgatalk@gmail.com 계정
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n -----END PRIVATE KEY-----\n"

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

NEXT_PUBLIC_ACCEPT_INCLUDE=["example@gmail.com"]
HAMS_SSO_SERVER_API_KEY_SECRET=